<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>예약 성공</title>
    <meta lang="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src=/js/bootstrap.bundle.js></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<header th:replace="~{/layout/header :: header-basic}"></header>
<main class="container">
    <h1>예약 성공</h1>
    <p>숙소 예약이 성공적으로 완료되었습니다.</p>
    <a href="/SleepOn" class="btn btn-primary">메인 페이지로 이동</a>
</main>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
</html>