<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>title</title>
    <meta lang="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src=/js/bootstrap.bundle.js></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#back-btn').on('click', function () {
                history.back();
            });
        });
    </script>
</head>
<body>
<header th:replace="~{layout/header :: header-basic}"></header>
<main>
    <section>
        <div class="container p-3">
            <table class="table table-rounded text-center">
                <colgroup>
                    <col style="width: 45%">
                    <col style="width: 15%">
                    <col style="width: 15%">
                    <col style="width: 25%">
                </colgroup>
                <thead>
                <th>제목</th>
                <th>문의종류</th>
                <th>작성일</th>
                <th>답변여부</th>
                </thead>
                <tbody>
                <tr th:if="${#lists.size(userCancelList) > 0}" th:each="item : ${userCancelList}">
                    <td>
                        <a href="#" th:text="${item.getTitle()}"  th:href="@{/SleepOn/inquiryDetail(id=${item.getIdx()})}"></a>
                    </td>
                    <td>
                        <span th:if="${item.getReservation() != null}">객실 관련</span>
                        <span th:unless="${item.getReservation() != null}">일반 문의</span>
                    </td>
                    <td th:text="${#temporals.format(item.getCreateDate(), 'yyyy-MM-dd HH:mm')}"></td>
                    <td>
                        <span th:if="${item.getReply() != null}">답변이 등록되었습니다.</span>
                        <span th:unless="${item.getReply() != null}">답변이 등록되지 않았습니다.</span>
                    </td>
                </tr>
                <tr th:unless="${#lists.size(userCancelList) > 0}">
                    <td colspan="4">
                        문의 내역이 없습니다.
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="inquiry-btnContainer">
                <button type="button" id="back-btn" class="btn reply-btn">뒤로가기</button>
                <a href="/SleepOn/inquiryWrite" class="btn inquiry-btn">문의하기</a>
            </div>
        </div>
    </section>
</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>